/***
    LAYOUT
        Boat
        Footer
        Media Queries
    TYPOGRAPHY
        Modals
        Horizontal spacing
        Vertical spacing
        Media queries
    THEME
        Links and buttons
        Modals
***/

/*
    LAYOUT
*/
html { height: 100%; }
body {
    height: 100%;
    text-align: center;
}
.site-wrapper {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
/* Flexbox layout */
.site-wrapper-inner {
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
/* Padding for spacing */
.inner {
    padding: 24px;
    padding: 2.4rem;
}

.masthead .btn-lg { padding: 10px 20px; }

.cover { display: inline-block; /* better display when flexbox not supporter */ }

/*
    Boat
 */
.boat-wrapper {
    overflow: hidden;
    border-bottom: 1px solid;
    position: relative;
}
.boat {
    width: 80%;
    bottom: 20%;
    max-width: 180px;
    display: block;
    margin: 0 auto -10px; /* dive in the boat */
}

/*
    Footer
*/
.sitenav  > li { display: inline-block; }
.sitenav  > li + li {
    margin-left: 20px;
    margin-left: 2rem;
}
.sitenav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-size: 1.6rem;
    border-bottom: 2px solid;
}

/*
    Layout media queries
*/
@media (min-width: 768px) {
    .sitenav { float: left; }
    .social { float: right; }
}
@media (min-width: 768px) {
    /* Handle the widths */
    .masthead, .mastfoot, .site-wrapper-inner{ width: 100%; }
    .masthead, .mastfoot, .site-wrapper-inner { width: 700px; }
    .boat {
        max-width: 290px;
        margin-bottom: -15px;
    }
}
@media (min-width: 1200px) {
    .masthead, .mastfoot, .site-wrapper-inner { width: 900px; }
}


/*
    TYPOGRAPHY
*/
.btn {
    font-size:16px;
    font-size:1.6rem;
}
.cover-heading {
    font-size: 68px;
    font-size: 6.8rem;
    font-family: 'Berkshire Swash', Georgia, Times, "Times New Roman", serif;
    line-height: 0.86;

}
.cover-subheading {
    font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.18em;
}
.cover-btn {
    font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
    letter-spacing: 0.2em;
}
.sitenav > li > .sitenav-link {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
}
.mastfoot {
    font-size: 16px;
    font-size: 1.6rem;
}
.mastfoot .social {
    font-size: 22px;
    font-size: 2.2rem;
}

/*
    Modals
*/
.modal-footer { text-align: center; }
.modal-title { font-family: 'Berkshire Swash', 'Palatino Linotype', 'Book Antiqua', Palatino, serif; }
.modal-body {
    font-family: 'Montserrat', 'Trebuchet MS', Helvetica, sans-serif;
    text-align: left;
}
.modal-body label { font-weight: normal; }
.modal-body p {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
}

/*
    Horizontal spacing
*/
.social-link {
    padding-left: 5px;
    padding-left: 0.5rem;
    padding-right: 5px;
    padding-right: 0.5rem;
}
.social li { padding: 0; }
.sitenav > li > .sitenav-link { padding: 0; }

/*
    Vertical spacing
*/
.cover-heading {
    margin-top: 12px;
    margin-top: 1.2rem;
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
}
.cover-subheading {
    margin-bottom: 12px;
    margin-bottom: 1.2rem;
}
.boat-wrapper {
    margin: 12px 0 24px;
    margin: 1.2rem 0 2.4rem;
}
.sitenav {
    margin-bottom: 24px;
    margin-bottom: 2.4rem;
}
.social {
    margin-top: -6px;
    margin-top: -0.6rem;
}
.modal-body {
    padding: 24px;
    padding: 2.4rem;
}
.modal-content {
    font-size: 16px;
    font-size: 1.6rem;
}
.modal-header {
    padding: 12px;
    padding: 1.2rem;
}
.modal-footer {
    padding: 24px;
    padding: 2.4rem;
}

/*
    Typography media queries
*/
@media (min-width: 768px) {
    /* Increase font sizes and vertical spacing */
    .cover-heading {
        margin-top: 24px;
        margin-top: 2.4rem;
    }
    .mastfoot {
        margin-bottom: 12px;
        margin-bottom: 1.2rem;
    }
    .mastfoot .inner { overflow: hidden; }
}
@media (min-width: 1600px) {
    /* Increase font sizes and vertical spacing */
    .cover-heading {
        font-size: 84px;
        font-size: 8.4rem;
        margin-bottom: 36px;
        margin-bottom: 3.6rem;
    }
    .cover-subheading {
        font-size: 26px;
        font-size: 2.6rem;
        margin-bottom: 24px;
        margin-bottom: 2.4rem;
    }
    .cover-btn {
        font-size: 22px;
        font-size: 2.2rem;
    }
    .boat-wrapper { margin-top: 9.6rem }
    .sitenav > li > .sitenav-link {
        font-size: 26px;
        font-size: 2.6rem;
    }
    .mastfoot {
        margin-bottom: 24px;
        margin-bottom: 2.4rem;
    }
    .social {
        margin-top: 4px;
        margin-top: 0.4rem; /* align social link with menu links */
    }
    .modal-body p {
        font-size: 18px;
        font-size: 1.8rem;
    }
}


/*
    THEME
*/
body {
    background: #f8f8f8;
    color: #48535A;
}
.cover-heading { color: #5296A8; }
.boat-wrapper { border-bottom-color: #5296A8; }

/*
    Links and buttons
*/
a { color: #5296A8; }
a:focus, a:hover { color: #215D77; }

.btn {
    color: #5296A8;
    border-color: #5296A8;
    background-color: transparent;
}
.btn:focus,
.btn:hover {
    color: #215D77;
    border-color: #215D77;
    background-color: transparent;
}
.sitenav > li > .sitenav-link { border-bottom: 2px solid; }
.sitenav > li > .sitenav-link:hover,
.sitenav > li > .sitenav-link:focus {
    border-bottom-color: #215D77;
    background-color: inherit; /* Prevent bootstrap from changing for nav links */
}

/*
    Modals
 */
.modal-content { background: #f8f8f8; }
.modal-title { color: #5296A8; }
